{% extends 'index.html' %}
{% block title %}
Команда
{% endblock %}
{% block body %}
<div class="container mt-5">
<section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        {% for el in  array%}
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{{ el['avatar']}}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>{{el['first_name']}} {{el['last_name']}}
                    </h4>
                    <span>{{el['email']}}</span>
                  </div>
                </div>
              </div>
        {% endfor %}
      </div>
</section>
    
</div>
{% endblock %}